
<%# <h1>投稿一覧</h1> %>
<table>
<%# <%= link_to "アイコン無し", "#", class: "btn btn-success" %>
    <header>
      <%= render "layouts/header" %>
    </header>
<%= link_to '<i class="far fa-edit"></i> 編集'.html_safe, "#", class: "btn btn-success" %>
<%= link_to "#", class: "btn btn-danger" do %>
  <i class="far fa-trash-alt"></i> 削除
<% end %>
  
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">タイトル</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each.with_index(1) do |post, i| %>
      <tr>
        <th scope="row"><%= i %></th>
        <td><%= post.title %></td>
        <td>
          <%= link_to "詳細", post %>
          <%= link_to "編集", edit_post_path(post) %>
          <%= link_to "編集", post %>
          <%= link_to "削除", post, method: :delete, data: { confirm: "削除しますか?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>